<h2>Cards</h2>

<p>A card is just an element with a <code>.card</code> class applied. You can put any kind of content inside. Make sure you
  wrap your content in a <code>.card-section</code> element in order to achieve the traditional card look.</p>

<p>A card container has no padding, allowing you to place full-bleed images inside. Use the <code>.card-divider</code> and <code>.card-section</code>  classes to sub-divide a card.</p>

<p>You can arrange the card classes in any order that suits your content. See below:</p>

<div class="card" style="width: 300px;">
  <div class="card-divider">
    This is a header
  </div>
  <img src="http://foundation.zurb.com/sites/docs/assets/img/generic/rectangle-1.jpg">
  <div class="card-section">
    <h4>This is a card.</h4>
    <p>It has an easy to override visual style, and is appropriately subdued.</p>
  </div>
</div>