<div class="row">
  <div class="callout flex-container align-middle">
    <img src="/assets/img/DarthVader.png" alt="">
    <div class="info flex-child-auto">
      <h5>Darth Vader</h5>
      <p>44,509 subscribers</p>
    </div>
    <div class="status flex-child-auto">
      SUBSCRIBED
    </div>
    <span class="fa fa-bell-o" aria-hidden="true"></span>
  </div>
</div>

<div class="row medium-up-2">
  <div class="column flex-container">
    <div class="card">
      <div class="card-divider flex-container align-justify align-bottom">
        <div class="card-product-rating">
          <h4 class="card-product-title">Product Title</h4>
          <ul class="menu">
            <li><span class="fa fa-star" aria-hidden="true"></span></li>
            <li><span class="fa fa-star" aria-hidden="true"></span></li>
            <li><span class="fa fa-star" aria-hidden="true"></span></li>
            <li><span class="fa fa-star-o" aria-hidden="true"></span></li>
            <li><span class="fa fa-star-o" aria-hidden="true"></span></li>
            <li>&nbsp; 18</li>
          </ul>
        </div>
        <span class="card-product-price">$699</span>
      </div>
      <img src="/assets/img/generic/500x300.png" alt="">
      <div class="card-section">
        <div class="flex-container">
          <button class="secondary button"><span class="fa fa-heart-o" aria-hidden="true"></span></button>
          <a href="#" class="secondary button">Compare</a>
          <button class="success button flex-child-grow">Buy</button>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem at amet, esse doloribus architecto dolorum in, neque id asperiores aliquam impedit nulla, quibusdam libero. 
          Praesentium iste, culpa aliquid nemo maiores?</p>
      </div>
      <div class="card-divider hollow flex-container align-middle align-justify">
        <h6 class="mb0">Specifications</h6>
        <button><span class="fa fa-caret-down" aria-hidden="true"></span></button>
      </div>
    </div>
  </div>
</div>